{
  "items": [
       {%for i in models.main%}
         {
           "name": "{%if i.label.value%}{{i.label.value}}{%else%}{{i.resource.value}}{%endif%}",
           "value": "{{i.resource.mirroredUri}}"
         }{%if models.main|length >1 && models.main|length > forloop.counter%},{%endif%}
       {%endfor%}
   ]

}
