{
  "items": [
       {%for i in models.main%}
         {
           "name": "{%if i.label.value%}{{i.label.value}}{%else%}{{i.resource.value}}{%endif%}",
           "value": "{{i.resource.value}}"
         }{%if forloop.first AND models.main|length >  1%},{%endif%}
       {%endfor%}
   ]

}
