<!DOCTYPE html>
<html lang="en">
  <head>
{%include "../../includes/header.inc"%}
    <link rel="alternate" type="application/rdf+xml" title="RDF/XML Version" href="{{lodspk.this.value}}.rdf" />
    <link rel="alternate" type="text/turtle" title="Turtle Version" href="{{lodspk.this.value}}.ttl" />
    <link rel="alternate" type="text/plain" title="N-Triples Version" href="{{lodspk.this.value}}.nt" />
    <link rel="alternate" type="application/json" title="RDFJSON Version" href="{{lodspk.this.value}}.json" />
  </head>
  <body about="{{lodspk.this.value}}">
    <h1>Default view</h1>

    <div style='margin-top: 40px'>
    <table>
    <tr><th>Subject</th><th>Predicate</th><th>Object</th></tr>
    {% for row in models.po %}
     <tr>
<td>{%if forloop.first%}<a href='{{lodspk.this.value}}'>{{lodspk.this.curie}}</a>{%endif%}</td>
     <td style='background-color:#c9f9c9'><a href='{{row.p.value}}'>{{row.p.curie}}</a></td>
     
        <td style='background-color:#c9f9c9'>
        {%if row.o.uri == 1%}
        <a rev='[{{row.p.curie}}]' href='{{row.o.value}}'>{{row.o.curie}}</a>
        {%else%}
        {{row.o.value}}
        {%endif%}
        </td>

        </tr>
    {% endfor %}
<tr><td></td><td><a href='{{lodspk.this.value}}'>{{lodspk.this.curie}}</a></td><td></td></tr>

    {% for row in models.sp %}
      <tr>
        <td style='background-color:#c9f9c9'><a href='{{row.s.value}}'>{{row.s.curie}}</a></td>

        <td style='background-color:#c9f9c9'><a rel='{{row.s.curie}}' href='{{row.p.value}}'>{{row.p.curie}}</a></td>
<td>{%if forloop.first%}<a href='{{lodspk.this.value}}'>{{lodspk.this.curie}}</a>{%endif%}</td>
        </tr>
    {% endfor %}
    <tr><th>Subject</th><th>Predicate</th><th>Object</th></tr>

    </table>
    </div>    
    
    <br/>
  </body>
</html>
