<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    {%include "../../includes/header.inc"%}
    <script type="text/javascript">
    {%for i in models.values%}
      {%if forloop.counter0 > 0 %},{%endif%}"{{i.predicate.curie}}": { "value": "{%if i.predicate.curie == "rdf:type"%}{{i.object.curie}}{%else%}{%if i.object.mirroredUri%}{{i.object.mirroredUri}}{%else%}{{i.object.value}}{%endif%}{%endif%}", "label": "{{i.objectLabel.value}}", "is_object": {%if i.object.uri%}true{%else%}false{%endif%}}
    {%endfor%}
    </script>
<style>
	.ui-autocomplete-loading { background: white url('{{lodspk.home}}img/ui-anim_basic_16x16.gif') right center no-repeat; }
	#city { width: 25em; }
	</style>  </head>
  <body>
    <h1>{{uri}}</h1>
  {%include "../../includes/menu.inc"%}
    <section>
    <div class="buttons">
    <a href='{{lodspk.home}}edit/{{uri|urifier}}'><button id="edit" class="btn btn-primary btn-large">Edit</button></a>
    </div>
 	 <table class="rounded-corners-a">
    {% for row in models.values %}
        <tr><td class="{%cycle "odd" "even"%} label"><label for="field_{{ row.predicate.curie }}">{%if row.predicateLabel.value%}{{row.predicateLabel.value}}{%else%}{{row.predicate.curie}}{%endif%}</label></td><td  class="{%cycle "odd" "even"%}"><input type="text" disabled="true" class="{{row.predRange.curie}} rounded-corners rdfs:Literal" value="{{row.object.value}}"/></td></tr>
    {% endfor %}
    </table>
    </section>
  </body>
</html>
