<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Edit instance</title>
    {%include "../../includes/header.inc"%}
    <script type="text/javascript">
    var processingUri = "{{lodspk.home}}update";
    var existsUri = "{{lodspk.home}}exists/";
    var autocompleteUri = "{{lodspk.home}}/search/";
    var creationMode = false;
    var okUri = "{{lodspk.home}}instances/{{lodspk.args.arg0}}"; 
    var homeUri = "{{lodspk.home}}"; 
    var separator = "-";
    var values = {
    {%set c = 1%}{%for i in models.values%}
    {%ifchanged i.predicate.curie %}{%set c = 1%}{%else%}{%set c = c+1%}{%endifchanged%}  {%if forloop.counter0 > 0 %},{%endif%}"{{c}}-{{i.predicate.curie}}": { "value": "{%if i.predicate.curie == "rdf:type"%}{{i.object.curie}}{%else%}{%if i.object.mirroredUri%}{{i.object.mirroredUri}}{%else%}{{i.object.value}}{%endif%}{%endif%}", "label": "{{i.objectLabel.value}}", "is_object": {%if i.object.uri%}true{%else%}false{%endif%} }
    {%endfor%}
    };
      var closeIFrame = function() 
  {
    $('#newform').empty().hide();
    return false;
  }

    </script>
    <script type="text/javascript" src="{{lodspk.home}}js/forms.js"></script>
    <script type="text/javascript" src="{{lodspk.home}}js/edit.js"></script>
    <script type="text/javascript" src="{{lodspk.home}}js/jquery-ui.min.js"></script>
<style>
	.ui-autocomplete-loading { background: white url('{{lodspk.home}}img/ui-anim_basic_16x16.gif') right center no-repeat; }
	#city { width: 25em; }
	</style>  </head>
  <body>
    <h1>Edit instance of {{lodspk.args.all|deurifier}}</h1>
  {%include "../../includes/menu.inc"%}
    <section>
    <div class="buttons">
    <button id="run" class="btn btn-primary btn-large">Save</button><br/>
    <button id="cancel" class="btn btn-primary btn-large">Cancel</button>
    </div>
 	 <table class="rounded-corners-a" id="view">     
 	      <tr><td class="odd"><label for="field_1-rdfs:label"><strong>Label</strong></label></td><td class="odd"><input type="text" id="field_1-rdfs:label" class="rdfs:Literal datatype rounded-corners visible" value="" size="50"/></td></tr>
 	      <tr><td class="even"><label for="field_1-rdfs:comment">Comment</label></td><td class="even"><input type="text" id="field_1-rdfs:comment" class="rdfs:Literal datatype rounded-corners visible" value="" size="50"/></td></tr>
    {% for row in models.data %} 
        <tr><td class="{%cycle "odd" "even"%} label"><label for="field_{{ row.predicate.curie }}">{{row.predLabel.value}}</label></td>
        <td  class="{%cycle "odd" "even"%}">
          <input type="text" id="field_1-{{ row.predicate.curie }}" class="{{row.predRange.curie}} datatype rounded-corners visible" value=""/>
          <button id="add_{{ row.predicate.curie }}" class="btn-mini btn add">+</button>
        </td></tr>
    {% endfor %}
    {% for row in models.object %}                                         
        <tr>
          <td class="{%cycle "odd" "even"%} label"><label for="field_{{ row.predicate.curie }}">{{row.predLabel.value}}</label></td>
          <td class="{%cycle "odd" "even"%}">
            <input size="100" type="text" id="field_1-{{ row.predicate.curie }}" class="{{row.predRange.curie}} objecttype rounded-corners visible" value=""/>
            <button id="add_{{ row.predicate.curie }}" class="btn-mini btn add">+</button>
            <button id="new_{{ row.predRange.curie }}" class="btn-mini btn new-entity">Nueva entidad</button>
          </td></tr>
    {% endfor %}
    </table>
 	 <form method="post" id="data">
 	 <input type="hidden" id="uri" value='{{lodspk.args.all|deurifier}}'/><br/>
 	 <input type="hidden" id="1-a" value='{%for i in models.values%}{%if i.predicate.curie == "rdf:type"%}{{i.object.curie}}{%endif%}{%endfor%}'/><br/>
 	 <input type="hidden" id="1-rdfs:label"  class="datatype" value=""/><br/>
 	 <input type="hidden" id="1-rdfs:comment" class="datatype" value=""/><br/>
    {% for row in models.data %}
        <input type="hidden" name="{{ row.predicate.curie }}" id="1-{{ row.predicate.curie }}"  value="" />
    {% endfor %}
    {% for row in models.object %}
        <input type="hidden" name="{{ row.predicate.curie }}" id="1-{{ row.predicate.curie }}"  value="" /><br/>
    {% endfor %}                                                     
    </form>
    <div id="msgok"></div>
    <div id="msgerror"></div>
    <div id="newform" style="display:none" class="overlay-background">
    </div>
    </section>
  </body>
</html>
