<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Edit instance</title>
{%include "../../includes/header.inc"%}
    <script type="text/javascript">
    var processingUri = "{{lodspk.home}}remove";
    var existsUri = "{{lodspk.home}}exists/";
    var autocompleteUri = "{{lodspk.home}}/instances/";
    var creationMode = false;
    var okUri = "{{lodspk.home}}";
    </script>
    <script type="text/javascript" src="{{lodspk.home}}js/forms.js"></script>
    <script type="text/javascript" src="{{lodspk.home}}js/jquery-ui.min.js"></script>
<style>
	.ui-autocomplete-loading { background: white url('{{lodspk.home}}img/ui-anim_basic_16x16.gif') right center no-repeat; }
	#city { width: 25em; }
	</style>  </head>
  <body>
  {%include "../../includes/menu.inc"%}
  {%if first.main.p.value%}
    <h1>Remove {{lodspk.args.all|deurifier}} ?</h1>
    <section>
     <div class="buttons">
    <button id="run" class="btn btn-primary btn-large">Delete</button><br/>
    <button id="cancel" class="btn btn-primary btn-large">Cancel</button>
    </div>
   <form method="post" id="data">

    <input type="hidden" id="uri" name="uri" value="{{lodspk.args.all|deurifier}}"/>
</form>
    <div id="msgok"></div>
     <div id="msgerror"></div>
    </section>
    {%else%}
      I couldn't find {{lodspk.args.all|deurifier}}
    {%endif%}
  </body>
</html>
