<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Instance</title>
    {%include "../../includes/header.inc"%}
    <script type="text/javascript">
    var processingUri = "{{lodspk.home}}update";
    var existsUri = "{{lodspk.home}}exists/";
    var autocompleteUri = "{{lodspk.home}}/instances/";
    var creationMode = false;
    var okUri = "{{lodspk.home}}"; 
    var separator = "-";
    var values = {
    {%set c = 1%}{%for i in models.values%}
    {%ifchanged i.predicate.curie %}{%set c = 1%}{%else%}{%set c = c+1%}{%endifchanged%}  {%if forloop.counter0 > 0 %},{%endif%}"{{c}}-{{i.predicate.curie}}": { "value": "{%if i.predicate.curie == "rdf:type"%}{{i.object.curie}}{%else%}{%if i.object.mirroredUri%}{{i.object.mirroredUri}}{%else%}{{i.object.value}}{%endif%}{%endif%}", "label": "{{i.objectLabel.value}}", "is_object": {%if i.object.uri%}true{%else%}false{%endif%} }
    {%endfor%}
    };
    </script>
    <script type="text/javascript" src="{{lodspk.home}}js/forms.js"></script>
    <script type="text/javascript" src="{{lodspk.home}}js/view.js"></script>
    <script type="text/javascript" src="{{lodspk.home}}js/jquery-ui.min.js"></script>
<style>
	.ui-autocomplete-loading { background: white url('{{lodspk.home}}img/ui-anim_basic_16x16.gif') right center no-repeat; }
	#city { width: 25em; }
	</style>  </head>
  <body>
    <h1>{{lodspk.this.local}}</h1>
  {%include "../../includes/menu.inc"%}
    <section>
      <div class="buttons">
        <a href='{{lodspk.home}}edit/{{uri|urifier}}'><button class="btn btn-primary btn-large">Edit</button></a>
      </div>
 	  <table class="rounded-corners-a" id="view">     
 	      <tr><td class="odd"><label for="field_1-rdfs:label"><strong>Label</strong></label></td><td class="odd"><span id="field_1-rdfs:label" class="rdfs:Literal visible" ></span></td></tr>
 	      <tr><td class="even"><label for="field_1-rdfs:comment">Comment</label></td><td class="even"><span id="field_1-rdfs:comment" class="rdfs:Literal visible"></span></td></tr>
    {% for row in models.data %}
        <tr><td class="{%cycle "odd" "even"%} label"><label for="field_{{ row.predicate.curie }}">{{row.predLabel.value}}</label></td>
        <td  class="{%cycle "odd" "even"%}">
          <span id="field_1-{{ row.predicate.curie }}" class="{{row.predRange.curie}} visible" ></span>
          <button id="add_{{ row.predicate.curie }}" class="btn-mini btn disabled">+</button>
        </td></tr>
    {% endfor %}
    {% for row in models.object %}                                         
        <tr>
          <td class="{%cycle "odd" "even"%} label"><label for="field_{{ row.predicate.curie }}">{{row.predLabel.value}}</label></td>
          <td class="{%cycle "odd" "even"%}">
            <span id="field_1-{{ row.predicate.curie }}" class="{{row.predRange.curie}} visible"></span>
            <button id="add_{{ row.predicate.curie }}" class="btn-mini btn disabled">+</button>
          </td></tr>
    {% endfor %}
    </table>
    </section>
 	  <table class="rounded-corners-a">
 	  {%for i in models.connections%}
 	  {%ifchanged i.classLabel.value%}
 	  <tr><th>{{i.classLabel.value}}</th></tr>
 	  {%endifchanged%}
 	  <tr><td><a href='{{i.connection.value}}'>{{i.connectionLabel.value}}</a></td></tr>
 	  {%endfor%}
 	  </table>
  </body>
</html>
