<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Classes available</title>
    <link href="css/basic.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{lodspk.baseUrl}}css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />
  </head>
  <body>
    <h1>Classes available</h1>
{%include "../../includes/header.inc"%}
	<ul>
    {% for row in models.main %}
        <li><a href="{{lodspk.baseUrl}}instances/{{ row.resource.curie }}">{{row.resource.curie}}</a></li>
    {% endfor %}
    </ul>
  </body>
</html>
